<h1>New Student</h1>


<%= form_with scope: :student, url: students_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :howManyWinsdoUHaveonFortnite %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :year %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>